[submodule "panel"]
	path = panel
	url = https://github.com/bastianallgeier/kirbycms-panel.git
[submodule "assets/libraries/bootstrap"]
	path = assets/libraries/bootstrap
	url = https://github.com/twbs/bootstrap.git
