
@font-face {
  font-family: 'ITCFranklinGothicStd-DmCp';
  src: url('ITCFranklinGothicStd-DmCp.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-DmCp';
  src:  url('ITCFranklinGothicStd-DmCp.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAELAABAAAAAAeCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAABCZAAAAD4A
AABQiyWUMUZGVE0AAEKkAAAAGgAAABxOtQJYR0RFRgAAPeQAAABAAAAAUAZIBOxHUE9TAAA/SAAA
AxsAAAjs4W7rpkdTVUIAAD4kAAABJAAAAf7yc9NtT1MvMgAAAegAAABUAAAAYFqUcXVjbWFwAAAE
cAAAAggAAAKKa7/Shmdhc3AAAD3cAAAACAAAAAj//wADZ2x5ZgAACIgAAC9zAABVyAU4ndxoZWFk
AAABbAAAADUAAAA2AhjHCWhoZWEAAAGkAAAAIQAAACQGLAKiaG10eAAAAjwAAAIxAAAEHJ46H/hs
b2NhAAAGeAAAAhAAAAIQpiC8fG1heHAAAAHIAAAAHwAAACABUAB3bmFtZQAAN/wAAAO7AAAJMH4+
AVRwb3N0AAA7uAAAAiMAAALYz4RASnjaY2BkYGBgYn+/0ixSI57f5isDN/MLoAjDBSXb+zD6/4z/
bMzSzIUMjAwcDEwgUQBl4QxEAAAAeNpjYGRgYFr37xjDCWab/zP+z2CWZgCKIANGdgCvVgbSAAAA
eNpjYGRgYGRnKGFgZwABJiBmBEIGBgcwnwEADwcAyQB42mNgZpzKFMHAxMDC1AWkGRi8ITRjHIMR
oxEDAxM3BwczKxMTEwtQjpkBCTi6OLkyKDAo/GZiWvfvGMMJ5kKGXwpAjSA5xrdMs4GUAgMLAAtP
DMp42m2TTWtTQRSG3xkDLoJJo7Xxo5Y2aWKjlEIvLtRupNGdIGJ/QosLcZnuuyj5AwUDunRh3Oqm
/gAX3oWI22QhLrXdBKXWMj5nehNJaeDJmXtmzpyZ855xA8Wfe8jfV2xF992m7rquinDeT6js51RW
T3cUtKIQDvHfg1l8S9pX1azr6Sy+KbgFV6AEE1CGGajDBSPGWUxXFdsns9f9qq66bvjFXssuJWZP
ievAJvT47ikhX+ISTTKfuA0lvhXnjuc/ZDaNcWJefC+6Tjhindj7kPEf5s65kh4x18AWyC1HHYh7
Rq6ia3PWTXK0AUtOT8wlqCs1wk9bY2P/hLX449p2ZivYDfYtxbiqa4a/LsBaGDA+ck1dduKuA+1i
rc7D2j9gfBvyWe2KcU2Xc6Z67n9zt45WOdM8vjmrfaxTqq2hJuxh+Yv4XsfcXeXUp9apXuKv8b1m
8T5VzX+CNPpqse6n4FvhIOboZFp0dNOs9kOf/BXsRzhAq9xIh5OgbTZeHMO0MM1SamN1PwV6ohi1
OAEa/KD+NewX2It1/6/DOFaX4/nqGKaFaYY1LdEsR48X/BvNoOtk1kOFUc80Y6/kqcfjjC14Cm9h
G3ZhHVo+z1uwHN/Y03Rqq+qX41tJhnCPGyPQM2q6LfmOlnzgzfU1H2mHFzHvDmdrURP2PrPCnT5r
1ktTvskbe6+L8U2yNur9XdP+lRbcuqbdO12DOixAgzM1qLsfw3pj2DvWY/TJP22RAQAAAAB42mNg
YGBmgGAZBkYgycDYAuQxgvksjBlAOozBgYGVQYyhjuE/oyGjE2MwYyJjBWMd4ySm40wnme4yr2Te
w3xAQUBBREFKQU5BSUFNwUDBSsFFYY2isKKSopqinhKTEpsSv5KQkqiSlJKckraSh1KCUqrqqd9M
//8DzVdgWAA015ExiDEBaG4t0NxjQHNvwM0VVpBQkFFQAJtricVcQaC5knBzU4DmMv7////x/0P/
J/5v+l/8P/1/4H/f/1b/2P+x/f3xV/ev9F+JBycfHH9w5MHhB4ce7H+w7cG6B0sf2N2/cf/U/eP3
D9x7e+/VvUf3Ht67f+/OvZv3zt7beG/Wvem3jVn/QsKHFoCRjQFuOCMTkGBCVwCMIhZWNnYOTi5u
Hl4+fgFBIWERUTFxCUkpaRlZOXkFRSVlFVU1dQ1NLW0dXT19A0MjYxNTM3MLSytrG1s7ewdHJ2cX
Vzd3D08vbx9fP/+AwKDgkNCw8IjIqOiY2Lj4hESGtvbO7skz5i1etGTZ0uUrV69as3b9ug0bN2/d
sm3H9j279+57VJSSmvmkYmFB9puyrF8ds74X//6TXv7+08cbP3Jqrq3Y1Zic9+3Mzw+5tU+Tmlqn
Hz126/b9B3fu7vx78OTLV89f/Pv/uPLew2ctPc29Xf0TJvZNncYwZc7c2YfOXim8cPFS1dXL5wCH
ENLmAAAAJgAmACYAJgA6AE4AgADSAUYBnAGqAcIB2AH6AhACIAIsAjgCRgKAApwCwgMOAy4DXgOe
A8AECAQ+BFAEZgR4BIwEngTWBTYFVAWUBcoF8AYGBhoGUAZoBnQGlAayBsAG7AcMB0AHZgesB9QI
GAgqCFIIagiYCL4I2AjsCP4JDgkgCTIJPglMCYQJtAnkChAKQApkCsYK7Ar+Cx4LNgtCC34LpAva
DAwMPgxYDJAMtgzcDPQNIA1EDWwNgg24DcYOAg4qDioOPA54DsAO+g8kDzYPjg+yD/4QMhBMEFwQ
aBCkELAQ1BDwERYRVhFkEYgRqBG0EdYR7hIgEjoSdBK0ExYTUhN4E54TxhQAFDgUcBSUFOoVCBUm
FUYVdhWKFZ4VtBXcFgoWSBaEFsAW/hdQF54XuBf8GCoYWhiKGMwY7hkWGWQZpBnkGiYafBrQGyIb
ehvGG/wcMhxqHLYcyhzeHPQdHh1kHaYd4h4eHlwerh7+HxgfVh+EH7If4iAkIFQghiDKINYg8CEI
IUQhniHqIioiYCJ+Ipwi0iLiIvIi/iMaIy4jUCNqI44jpCPUI/gkHiQqJDgkRiRWJGYkdiSQJKok
xCTaJPglBCUcJcAl0CXgJe4mKiZeJpQmxCb8JzQnVCdsJ4gnliekJ7An0igmKFoowCjgKPwpGClA
KXQpoCnUKgAqGCo+Kn4qsirkeNrdfAl0HNWVaL1X3V29qJfq6urqfavepe6WutXd2mVZkmXZlmzL
Wrzvq2xjjDewAQuwCQYCxmyxxRBjMA5mS1gyGX8I2QgJYWYC30wImRCSDJPJzJiZBMaE/Lj033tV
LUuyLDv/ZP45/8vqxapX995337333e0VpabQD/gUvkLRlIbSUWWUmaKq2CBLc0FOYEHQAFgOfPrH
09IzPzgt3QN6T//gNHzlQhu4ixqRzo4A6cK71AiokCA1QkGqHQH7RziMYDEUxeVokcnxYvvD/n7H
bbfBYSmdfRijg1Q9uAE0jh2HX/Wb2Fl3bWI70cAPQEj6AI1DtIBhNM5N+dG4Yo7J4RcjkpdYJK9i
Dr0EdGW3s9dZi15t+jZTm6HN1euqRa82fbuxzXCPqdYIfvYt9DN/y/y/RT/oY/6WLQg8ZR35BjgK
z1J1FNUMfHQuWyzkq2NpGIvmqwvFfI730QKThmJIw9vsAvqPnbcxGoYX82naulnFcKIzYrU0Vpen
zbHuzmYhlBBNawxG0enxxYrhQLlDb2tONDYnm0T2+TDLBVibxVN02DiPNdXZtUrf1q4yeYqxtNvl
Cjm9IcFscnq4eHZ9dVC7aDEMFuMUpaaEkc/B5/AExVERqpaaTc1F3Mj6aN5mQnQhOptoIWQCDKJQ
sCsTiCoDaHkAvHSADuTAAV+5rQxouIyYbqKN9nKfhtFBmlaxZTSjUknkKl3GJ73pJg1XGR17FUrf
B2VN0ifwRCjZ4DIKqeZoTx8XKcQ8s6CxzFGZcbl1ltnVbpv0eShZ7zKyoeqYZ36/kG5N4AGudKUT
D0CskD6HwxfWUUgahJHz0ABPUnGqCq8HEDSMDyJ6eY0YiuG5pmG+uogXJmvHk2fsQiFWTZZGKNA2
PLVoTAOeX6Ju0esdRpXeZ69Nun2tsdycOHdDxZxj3dawW0hHAxtSbnu05nRFecrblsyBG83Xbioz
lMFr9HmOs0UaWsRbm+Y0N65e2hoqJOyW7mj1fzRG+Ei9X/qPeHVobpeI5KYO7KUeJzJMcXSO7jRv
soC9ICj9Al1rGFkEVOiaAS2emAZYkHKIRqBanWhsiq9ecGrmhzfs/VX7t375L0T9Rv7XyCLqu2i8
HjEhh+VLRCsUVa1et27NggQcfvMnb//41X/a+zIeS7WAuWATGstizWGQ5AtMTBCLTKwYKwqn+609
iWVL4z1W9CW+dFmiBw5va55ZlZnRtGVL04xM1cxmDCNAPQzuhDSmDyANRbIs5nP5HDDs378F/YJb
B2+5ZfAWQhuVGVlDPUc9gKwDVczxWOMy++fk8vkHDj7zV/i6SL1B/QhUET4gWOJXvgKqBvF96O7n
qCP47+g+dNP+I0fweAbx5mWZb0gARbB2vvT4fDj8p28ifbePnAcPoPW3IjnHEq7CqiavekEIaYj8
+kBJRcG7iZa426iOJnfWdkVNfZutnFqjVlm5gI7RqS3wpKfQOK8t/tiSjbUbt3acenGjzRU5+mjE
ZS+vePoLSYdNnl8evd2BdMuIPtkcH8znWKQp+UIRJFZIz270hSMdLfDEhbO7d4NbI37+1lSvfJ8L
vd2HaBXw/JhgvonOI0lkYoWcLJtf+a1Wum96W7s7U6/e43hy1uZgV/3NN9/aOnvlgvS0Ic97S1dU
r1jdJMNi0bzvRbCKaNb5XFYGhcQ71qRSoDFYmbEWRGNFbKTy1cgk3S9YLE6jvsrCl6np7SqtW2xJ
DvRa/DbWYo/bt/Qsy5ZrdkKV0WWbxol2CwhvBjqr6Jpl9nKsk/fUit5V3fHaoFGrKQs1V6xbV5dd
ZONcIeuiYMKswnbagog7hnijx9JWFPNcjiXiQueQGmqYd19/fai9fWjzdqPVfXw7uE/atv04YO9o
WDGtRp6XQNZzmPKheQWRyZZ5g6ahzAJLOeZZO6gq+542UmhduGLdsgH1LqhGNEdcgUDGuAIO7z+c
unbT+gPbugTOHmTzhbqqvCDvIz4E/2HEtwBVjtAxCJaJVpBgw8dWY/4JdprYboINPLRZV2tzmXUQ
hOtaFmqESHv6eyqDO9GR6qkUv+oTHNNsdnAhtIp119Zmm7avdOZaq0TQ580vnNEWLcSkP+ab6/PF
XFMDnl8UvR1A8+PQp1gM8hrGBJGIimTrKADvZ3rQmwtYeQ4egWkxDr03Xzt/cbbztpmWZFzV8ers
AaQFnDIHL4JWheD4oGBXlhrbbWTQMDQyJ6aQV4wdehHupQGoYlmxjB9cubQyzUUErtzGru3qX/J4
Iut1urKt/rDXB67VGSLOZO2yjZXprnBdgjP6KqK5RauWta9UhYtzMu6OR+O1i8ujgbQV8RTTczei
x4U0G++IRN1iykaD6GAtWCG5kAab23y1a7vW6agp09JlbIWnaWDJ0u+8mWkVzc95fH5341F7Irw8
22a1OddvWHmL9LL0SKAmDV5N3Vi+eRNeP2IjwDnZD8BWgpUtBbYV4Nz9ZI2J/SFj9LKF4UtWaD+x
Q2jc94kpQusRojqRLvdgWwV4RuAjeXDH+fPSMdhzw913X//2BgwvQL0B7gRnZZwgmA+y6AXulB4C
g/gFBgelTwbHw+LUvDpfjIXAeunY+fOw5+0Nb19/990IVgxBOIh4FcT2KiLiVW+CRHdpJhZtomVx
Z0yIGEQ40G3jglaLJWPhDQwE10J3vJiwTd9QHneZt+/b95q3oRiy2lPe2QZT0Om25ueVu7ULV7Yt
iDl9oRmHMe3ukXMwBr9K1VMzsPVkZDHA1jBNy4KBt0BBU1orH5JGE1D2TkWMBCZEbsN3gTUtHrXb
YoN2NS+2VKxYO6N6UVsN3zbviw8+ONS8utbrnZGtszN6DxeraKoRHLqczc5zOg784YcpU4hnKpe5
qzty4Sf2HOmqc08L/fDBh/4+N7Cxrn5rT4FlbXNmLLrTIcRXVBUd+XZkZuHIeUT1S0hfGMqE15IT
Y9iFyyGjpmHuvefhO90HXPse3xAx0EYauwSHD//pharmxcgKodXKonvfRPfaZW1HlijrA8JF44g2
CppHthPzH3+Rtwgx+/VsKsclLT7eYhHiQnX8mllZZ9BIz8oWEgmTwReAwzRvr5wbq/EbGY1RbEv3
Vydh5Qmz22bukz55KVoddVp1SB6wrfkmWuswtjSE3SV3qkA4jowNWm+fGnzzBqA2+wW7S2e1sNFY
kNlp+fq7Wk+qpxBpiPssBho8ofdXVDptjsp7DiQTxW7dJ6A3vWDtjEqbrzLeEETrnEM4fkz8B7s8
U7vsdYo0Ky8cmlhuqLUnvHZ1ri8Vb7SwjnAIDpvdne/8z4XlMCZ1V1TtWbXWiXUCw7pH9kU4XlYf
JPL8K4899o50EiyB0eFtp3bB4V2lsXvRWJ0ylhXxyCNHDoEOGH12m3ReGYd5cQbxQsR7phjDIiZP
H3nKKmTQsbnFfBHz4Ey9ha+peUvvzcyrfobfrlKXmZ3WFDIiFaEoWABWSsfnVaTB3NziVe2pX/Fe
d9xqymSO7Fmcn7tN3kMwTacV+hErWJH8y72y7tAh9AseAMyFdcAv/RINKY2nXpH9Czw8d4g4l4Cy
IZo16O82AscDTNjE5jGZ+ZsO0RqD2emvcCXicW2YRxFIp9Nd6Yrb3UZ92R5Veb1Cx9+h+80ELjbG
zUgDOZFm+Nwhtcmw9vYvDH9xeQwOv29qyQs//0xaClKLzl6cwzp0r1qhCd3xFCLrw33yNdiGrjnJ
NQ55tEUOzxJvsLRIR2NI5dB0c0at1lb7jdsYh3p+f7fBjNxL6TctN1+3BBjQ/G+sOvqUW7oZ3FF3
QHu/X9o5hm9sCW60ESC4CCCGd/sWnaDftu0mG2dAgP7ONXhH678hOH3FngMt0m9Ke+traI0tyLph
XwzK0QbZjYTQRdknscR/1vekbbZ0b8PGTM3qrUGzqcwYdwlqrdEET+ZW3jCve9eKqjlLvnHiuT3J
6MN7M1U+b/rmL8TLKUXWnyd8FcZqNdKucsCzsiKLuVPJ9DRbIhysWBYPRoMdcFjl89Yvrl3hDJyH
2TcSTSsVf+AGQrOXSiPPG0cNaTqmSYPYRXPI4A2Nnkg/+JrfGco6TBB4xGmu9tXXNvZWWFcBq1N4
aexk2G2MTSi3cYB2ezp//vizxfW7uj6aY7fB1gnTUub1GuG/Y4wOI2OFREZ0Ah5vnmLumYZmZxMb
4Nl1h2eXR2fNgsMme93GitY4p5d+ATTSH2H2m6uXYhmi0Hrcg+aWLnk6kMSjKuIroHC1iCeGrV8p
ds1lwYH1XC3n0tOJbo4vd9g2ryh0JayarWWxsN1rVNUUoxmTb3XvnbAs1W1xWRgxGNaVBcON4RU7
w03ZQLRQwTo5Xdbl5iP2zLT5e4ks47f1xIZTHFbFfJA/f2gr+pP3wq+Rg3MzHpNCtH5Vlmkky9gW
IJcWCb7NpMb7UOqQs5xzGRmwE2rNnlhjdFsfEsKBGQ1mW9LvBSek5f5kfbzCxe44KMdHF9DbI3J8
lKNLOkIfvOOeglGnMdftvhvd/kr3+kVLQBvRdbwAe9B4x9jxpduwCiDV2rv3vggSMnPVvrzKqNbH
9txwfa0JavW1CNZ3MzcvWQ8S0g+cR/d2gARSjI757YsbpL/BsZoirxyJ+wQEFNkBGm1l0bzGDMR7
DxyNmFUaLnrb7Q8/UMfqyppvActA06709JbazdJb0tET2cb5vhPyvP6ozKsMSwgGxhNg7P6Dh+vK
aNO0fQ8AKzh0NtHSkD4r7ZE+xrzFccrdso0u4nCFwyvw+G+lW379Ntiwa9dm8O1tm/C4eSjOgvI6
AdmxYgGcNu0FODztQk0dPR2PSaAx7ykxLArF9oFlPdLjOBbDl9F1E4pLv6WsNbIdKDQSTS+8MG0a
HlIHfyDLA8gTO4N9LjHGiFwOnL5h6bLrT2wA+fPnwXpZdm8Dn468jPHwQT4IPpXKZmfR37dAD0jD
Nwl+FMluqT0Uh3dMv43YBTOSocXgM8qDd9ygGC0qgWCxUES7nxxoCXYvsKHth7hBYPF2HYhNL3Ml
XDXptaCMD2uutX5xIOHYlwwEfEZbooMRmlK9VTGmsbzTeLQYuOYH888ylcnGNqKv0ZE/gh1oHkYc
rWAbXUDgeeTsxhiu5C/hbd8Eojd51gfSd3Q6gnVBu86gZsq0DMsiXn9QqGi5U5I6WsD8V6e5/IPp
Zj8LnYK8B+D9Zwuaj6/kP4x1H3CUi6eGrATYsgOodJw5plYZ9U6HU71FbU8tfbElMbtjEahn3O6Q
qSWV3+gXyht1PdFZ0n3tqaWYfhuifzWi30S5ya6cHwUp5NlS3IDRgdXXBpqGUqFCyh/ymNSMx27C
W+TM7j8cmpFNviO5Thdb+tYEEmk5xsJ0b0V088iqIh9XI1OMt3wcnuA1YHLEHIGtP4X2kIvXbFLN
nfuCJdKZW18uvL8GpFi7nv5lR0u0XNex9kK2b256bb5isy3qkfkC0fvn8GXZSiIRk2M2HoHUeHFy
gi0iH5+xerMhr8tBO00NDeD2DR5fTTDMajZBX9i5QdqL/UPHSC84AVtQTFFHdWCZx5GlEklpxphK
RDXAKSTywtypzmWZkOywoACRJs4x+hILoeDqhEUXNPoWtLu9DrEhKBbc9uuWfN1lt2ZbW4qZ6XWJ
rrJXYzbeYbL1s4u7PG46FYcNC5lMsnpmj6bMazdqaLXVXSXOm73NnzLr/FUzw+Ge/njAvvKB2RXR
RKRClFbb7VUp3qKiaSWe3K3YLSSBmL1oz8LOgJyAZKNDWktFIJLh1EOAsZjcZjj8Me92uXIxv/QI
6DeZOK0nID1P5Bnx9Un4mBznYK+DRsyMDqEfcE7i4GN3IH/83Eg3GWOirLKlxlEzcooKeZYMhkZ3
VZSNhXlyk1iZqnNa6Y20IweP31GKf++UfTOMoYj9oRjDR4fWXL/zpoOtHmRKn3jueek7/5A5RSnj
Eb5R3wwhkH0z9HdYhWQsocwb4N0SvyPHnswekP2u9BUzYgebjqbKzYZEub+CLwM3QZY1WRj8aXGa
wLnOilg8Fi7n3Vm/R3oSLLawVr2Ds0mvgB6bjfOHpJdK9O9GeIWLeMdgxGius2bSgQq7AQ7RVqvL
jAAnkrwrG/BKp8BcgeeCPulrF/VkB4JlQZGj7C9ZlBgeJ2fhmMxrGnyvulM0f3VteUBjj7QmzRYt
VKlCTq1eBW3gs8y8+RlJWti6yV83Kx9ZbEqmM4sTeYdnT3VRtFGKrVqEcH2CfIsARQnYVinODRZ2
5DTZRpNkSAmi2yKFRK1DF/c2VQSh2eLQ6tUaX+gUfKDYWN03I3z7rEL8h2DkBZ/b6YmsmRUZ1ftF
YD3CYcG5d5BDzJBNioV4aAxJdpXycQUgtqpu8mYO3u1LWcvCUZtWz6iMRpcBnIsULrzxZuIToHE7
7T+7t5bzDq4NcpY0VZIHEEQ8U3xqEkHwUaT30esYgzMicOaGZnBuj9Nb5aK/oKrp/YjsSefBEnRP
pJSvx1obI0lWzAQB+0ZY3WXVN63BuSSO9/gKTTULO6JFv1GzhKlMxFvXruy47w6L0SKUcZzgcPmm
FVsXOtMhQagR7W5fes28uYp9Gvkc6OHdWCe5ZkAiKJJo5kkaKw0agZhvNGzr6rIGbWXpsL/OaNXl
wbmHtV/e8OOKIL3eyFsd9U3vbiC5UiIj57C8YQuNjWhadowIF/Ms2HGdtapCETiWdbFYV2dEkchV
BwNggfSslbeFKkED8h3+hGDMRLBkn6jkh1y7c0jUqDVlgS3bwbk3vZumz/umxBFfA42HNBrvGDu+
dBvyXmI2M9iw+eYgo9Ixzj1uhmEMro2b18T1yDcC514RN+xKnno+vKO/85TEnattKdb8QfZhPkVv
KxFchKUYKwHEdgB5Wcgfumbwbp+O1ui92wevuyespxldxXbpP3rc2ay759fS+UFPsUEYJD7eyADo
RHBQxAtoXKsYDc9K1ILOXQ6Hx5fkfG69z33tUESn1pe5EYfiK4tWntmgSTeDb7+QXr+35S7Eaxz8
ViN4OJYN8rTsKsWB5v6j0keHbwHneqQfrl0FMmSN3cjP+R2yS2Ec95oAcio0KE5AH3aBx15HI6iO
Msgsok9kk38XslsjEastLCQzMTPr97PWikQcDs8GzuyRaXGLJT7tSJULzNb5GnNHEiLyYsTEkfw0
N0NwnRnRgDr4sZwvZ8UzQ0Pw4z85ZFkzIzo+QnQk8DVkihAFPpjD5gN9M8FykG9C8laNPSBMUgzF
rKGEzQy1NhawvBaaopmkM2yzhkXOHoLDtMVfV36Etzl1i/VOm+1ItsGvLxFpThAiKcWn/xicBo9h
2SjGCmRXtGfRNimQ/QBvxU1NHnO44GmqD7kMuml6W6DSK0wvWJ2uj2uarEmBN5vNKWc4YRdsLmQ7
Zoz0UD8v5fUE5BIW0cb+c7kO+Bx4J/swwlmL9Oom+GUqjnDyYj6qpDvlgpudH+MiEQ/p8/qss45x
1FXUW6xRXxl7HYSM2eBiNGWauE29BazetFnvbrjLX7egQbd8Ka22hFzRWsZlDxqjgTnLg1y8Rvsk
mauB5KBOknwSL9o1DI6aioKNIfzN4Wljw4kIJrab5DQANikCmNEDgtFGzh60q9cmuYZY4Lceq9Wm
Naoas2pnJBO3bvEv1NpMFVrw4MoF/T6VORlyTq91uVXX0BwXLMQCK6PObHeFR3dzVcwzk++g5Bz7
IXAMWpHXhjNLyAvGmR6BiWH5Z2LES4kVBbQkmmwBZ8s1NhCoa67jrHXT68LRcFT+3lIfD0aasqLo
dITBT9DfwtFIuL6lzsqh79FIKIq/vxdCA7Dfjeuqx5GcueT6DzNaA8LTHjUOoLlrHb93354Dt/HX
DCw/ME1Pq8vaNoOHmuqaPvwQvQH1Wf+0uvC78n5xZmQ+kuvHSzVdVuRl6Uby/bh04iHpBBqTGOkG
tyHeV1ENpSgWkC2EhMag5K4pFQ4iEsVS6M6IxIsjSfw9C83lgouuaUpZeYGzTF/W9YhtBa1lfXxt
svX6tsqF7YnGoOk14MrkHXGYDEx3W7WVbn/QF8lFa23GqhUDqx5wmnmPqSUSCTVcs7gyOWv2Qlfa
92u7L5j0eF2CsgdeA2vBMngc2Vieoqyh0US8/eLXv076fXbeNyh/wFovikl8vOD1CrwPfVIkd+kb
+RS+B0+h3TpJ5I4h/tz4/KHsTftoawDDDiDQKrzgaL2haiGam9Gu0+u1NrtV1Ve2+4t6d2MqlHVa
VDrpw799C4TekgrvDw+/Pwz2MZzTaxLc87sQAZWaL/1IbJqRdPiqfdKqHx6+90c/uvfwjX/1waOP
fkDm1wrmgza0Hk7sRwBSuSgqYcPYIIvJFrALDZrVCzTAW9ObEDuA1uKme4zbOnzsEG8ABRg6kGdN
rsySYtBNx4SEdn3E9tNEVlcZwnjC1GKwADxPqUkWjxHEGHIV8fuZbLZp4cKfVFWhd/D8M0899Qx+
ET0NKnl6NYo6kGgGWRAYAZveeHxQ+oS6fN1RRflQyPwcPIEwcSjWiskVNaxSYkzk8zzSb+TcxUhi
nqyiXSkOVZ+YPtcXqXWbzEaDwQh6du9+Yveue6/vH9g9ALb9bHq5ZfmCBS8WYJmrDA7t6l2wc+eC
3l25geam/v4bCT23whmgH95VoufWs2fhXe1o7i1gL9iEeExkiLuIVwgpWdLq6NmmgUW7Fy1q8IsR
jzcchicXNjYP9E9r7p+d9vhSqYYKuW5BKTVb8/iqLYfrF0rldj8pYdw6ODQ0eMuFC4Mk7gQGYEI+
vkDqxSLaQUgwyMRK5Yl992s+mT/NwZngAM04CrHsjE6wsq+3q68qEItwdn/eV1dbXCbvT0AFjAhW
hVKnBKMlT+x9aphSSwJOR8nxlLiOtViMLoFZ4FzJBuJOn9/Eukyu8qiNCyc8dJ/az7J58NftKrs9
FmfXMbbKUEw0qrRc2BnJO/VaIRsxVtlcOXmfOgk9YIOcLwDINoINx+KH4B1bym8jvtUi4lvxim8F
UfwWw4kPlpT+sGtFax1RQUdfN8SmiWPVLngdDq/w7/AB6XsV0UgK+1WUCsG5Rc6bAiXZjJ00HCuC
W2ZUzfBU1ERds2LrcQ4EfnLBCJ7SOMvnFfbl3Eq9HNDUc+DBkhxk9u8HDx5Bf39kpAbMQSOQCx9k
CiVLJwsAYmIRebbpijoxHTEGHWbe7jAa3ZWaZDCZcMYtrM8OexGMCFpLLdozy3DuDQFHy6/Bpeo3
m37dKlRkyuGXpVfmzXvLZVvoqsYy0wd6QC+SPSPpn8GrXSorKhlc0l1B4oR3WxuGOv2C1lGMo2AU
Ah2jMag16NvJFbNO11e0OSvrw602S1VtyGiCBuu8OptVtpHjdTsnMCL2KxmxGG5ctKixaiPS7Kbs
qG7je1TYd4en0Dw0RCuQiYjIBWXckhIR88UccbNFMHaO4MMZar1ROglMs6XfA/fNQ4srKpZKTysz
P9nrKEbt0qc4oFw+8+N/nbP8Ii/cOWyDMc4XCO8s2OcYxz8O4yXKAWWJLulGibF1ClakKsVs3BFU
VKWqo2MsmgurMPq+vt7qfIcYmEN0p7Yuv2J0zi8g3ZHnPP2yc75KvQL/NkOtM0lfA8bZ0ifArLBj
/lVo28kF3mzAI/3XRVZdpf5BKjIyE9yGdCxMOJgjtU1EIJaiJroo2JVuo0IRzQC7fI9t44Isa9Gx
ZbpSzdMVLyRtbeuTCVLzBGlvYyFk5dNeZ9Cokuue1fPKPdpFK9rmJ5S6Jy3XDenlpG5ovaRyiDBP
rB4eTLzoHVtBBP29q2rJXnwFWBwyKxNgPfSa96XxsGbUrroUlm0SWGJRECdAc89b9uzTy8bBa8sd
PToWXjeBJ14KjxR2Y6RjQk6RIFmYAP76WCxvDqsrDSxyu7OsUUi6TNw4bPeF+ixqbyiQjOodJmTt
ZJzNBKeD5C4mcDcUldutNLnRbxOQ+u3BQDoYvEEIBtOB4DhsHn9lICA4AsrHKL7tl8VXCJX6u2Il
h9c+AV9Ld23NvJqVRiRwyFKOxScVEvGaYjypsfl43mfDNefP0dtmUl+yk0hQLBVB8yJOVhMdfBsc
e/fkyXelp2+o2vH6Qg2uie3CZdGjR4HmrH/lwhipeQZJ/bcRRTRMgehlyYDLXSxyp4ZcBBYurRD/
0RBKWzVN6eqkOe7iOIdL43DN9HfKheHGGC4Mw0sqx1Z9nLYG7fqKKm+Ks5tZJ1zARhd9O7NgTUel
zZuNNQTcE2rJvyvVnu5Bckl8hbFV3whSlVLlV/oBVpJS+fefZAWZ4l4cjZTudWCdGL1V0QdIunDk
e9mJ92JVKN39dVkHSve/U5J/BXczup8nO9ZYCJOIYQneyHj5K8E9PUH24Aj2el9B9F3MieLO0UMf
KNaC1hMmQCyVlDR2HDYLuUPTFUtA68mM4cgbiF4/GadT4JF55g7NHNVy+AcyOxrLIfUZmhuNdmNB
GT3JnHKH7r5Em+CPJ8wE06hSegTMpLsK12ZG2wTKAYfYpjQKlAM+l8tkhlp7ImtWZ/tfPNut9AvE
u0FyGbCRpoGBCpB8We4ZOK7IwGlkh1icobu0ejypIRpbUn59cit0SZ2Zbh9njJRY6Tx4DfHUInfV
XKnyjGJj5vLV51fxyk5Vgf7H0r7w5+LFDZeXx7sGS8qUeEt7yDi8sauYL5Gwy2OukCVvKtxvjuqb
jLub4C5cGfek6355UuonlYKpKAPCRHlQKTQ2ExrLcbfmFTk0iVZdnshd47VtKupOTNBCgNbrUeQP
XSCer9yJS9pw31vVuXpN95oVs9E7OLZq9ir0n1Wz0H9knv8EvAa/TbmQlcH2EkXCcmcAHcJrq2wh
NBclFbsirVQNwGxrY7DcaNJ707PXxrnG4AydJzUnl9m10+xP++7faQ5Ul+ngfZX9+a5Z/fUrFjWE
uexA31s1S5c2x6Q46OXWHJz5pnSabcwckPsTSI0eyZ0T1/Umq9LjGU1SqU8QYzl5tR56sDpdBWwc
vU0CG2wnFvZywEf3mYvw/ZehnWjJJBjOKIb5Mij0WDVoBX4zgi9SqctgmETKJsF37wRjPjle8KuJ
Bh7KvQFojjheGd8dgDejix0C8xDLxncJKNvTmN4aVuku4i/TXXN7sDzdPK69ZonK661fXLPSGXgE
vPNGsnGlXEMYeQN8F75O1eCsLi7WXmyrwQlzwQcuekWkKoPr9UpHpIp/5sbq6i1LM+0BY8yZhXyk
snJOf2XU7XFn3EHBbndzPFs0241aGtSCewdj668PFyvtzTGn0eJ0htoa52y3LTe2BuOCxZYJ1KdU
Or+rTWfnog6B2DLSLwDfJP0C8avrGMC7/xW6Br5Ueyg+RecA+C/SrfB/iB8v5BXwrzkWPzQlfpz8
GIP/DMGfvMr5Ey25AgXe5v4H7x+YioY3MvfeO5aGk4SGuqvkgaCRSwxK0I0N+RUoahXDVW5nhZ61
BfWMw2Uy2OKCiZ2CQmjwzbG6fD6zwWfU8cq+ItN6nNCauVpq4aQ54CvQ2zUuRTwVJ5+8JHtcovMf
FDprrnJlR4MoTVTOIl+RSl+0DgVVtdUuh91nn4rIA8VEvIhirEK9LcDbTRZ53WEd+AzJXQ5n9iOi
7WKXSDQm94ogWuWsN3EdSHUft47IpX1GbrAxAVj3U5dHEDSD6rlzq2ps7vb09X3JeZAxlUU129Wr
ijND7lRidbnw/mpgc1p4veqdsJdh0sFfLsgHK3Uz10QTqdCdm9J2TcDv03cau2fX+Fxr8xU1OS7i
O9Poc69jqkgvTg3pxakmsZx9XCgnKoFcUW6WnpCoN6l+ZMBpukzYGOZN9rTLUedoIr059A6oRjHr
aNcOVHH+Jn1UnQwm4864xWKJwDlGd+vhI+2ppSsZUQyQLh5HeaPWHWiOBon+kF4bZENwr01w6m4b
Yrum6rjpQZZrsq4b0IJN1p+Fi9ipqXA9hazU5LiweSrhOkNwiVfCRWzSVNgSxCJNio/Dpkil4DtO
8MXxLjgVxujkOj0VBcw4jZ6Mkt9PUgeCI/+OzzuQ/PWY+DM6dAYtFWnKKfW+ofiD+s3YcXgFokMt
iM3yOGL14cg7aNwfEV8nxJ/RoWbCIjJ2MbHO9MjHaOzPEU9oyqR4A+zk1iw6tG3c9AiUyepaSs8L
fA/5F9hLmtjlwjF2pSVFhi1ESUETKZpQ/M64ppe7ll+XTi5cWx7oa3NwjLAitN5grPGBFeCvxne/
AFh4/cXr25oXtg7uu4XxVBdr6912MQOKcr8T2E3OY6Uu180z2V4zscPnjkk3l0n7fuCj47cVWuHH
m6QHKHrFLiAcuk7RCXQnloqpu4H+jcjLn4sXh65T4N2OpewKeIn8lfCeIXjjV54vEc4pMJtlqZ0a
96uyPCu4TxLcNVfEPdnST0HJ/MmlYGrKABgvDyqFxuOExtSVqZxcH6cgs3m8ok5N3iMTVZimAtQG
cCfMEztjkE9DxUiXbz4nn4jatxP9AOdg+oCUPUApe9QbaE4Byi5XV0n8KrfJikoGFBlXuqiEr0wp
fGX4YmDa8zGPvRiMGk1GcVZB7O832UPWDb1mzqcvA/9aWNB6vzRiqOtPNBaby7t6s9JXzpsae+ce
/MTg8N4SxvZGVORcKPW4XtpBhZXqki6q44qBnaSTalh24K8KNlacS2AvUYzyZLBl57wE+wyC7b0s
3fK+NxF6ZNSQTwJ/q+x40wr84wg+lrPLYLjMPjcRY98lxn8SzHMmyhKU+7cQ/+ykq2TSDi6I+Tdp
E9d0mYmXNnIpLCz1PJJYNjja81g6FqU0PcIxTY83eav8VcZI3NdYEQQac5mbYXRaR+gUPf3neVFo
20W6HiH1gmB3G1LR+evdXrRHynM4juYQxDXuy/ShXYaRk07smoncvHSKl/BS6ZMl/VNKnyxeBlyb
Vs4RGSmqyOSLiAlFnsEJ8lwmc2hg4Cnp7z7KbM2Azv/q29r3zX1yPRqHO79Xzk+N3sOK07LZIfQL
bJWLK0Hqw8zijPTl0pla+Cg5/xnHPSFKBj5U2sfl5rB6wAM2OqYDFPztY4+9Lf0+nGrhtucSXPQx
MTPD/gfpyZCvnBNYrdsnwuixbV/ZpVZv6ju6rP+kWr1LmgdeYBO5Y3tzTrdsz+Fs5JPHqVqqaUIM
EVOkWa6uAEHu9LRHQppx5lPIVYshOBtFEA47iiD62qfn7VWJipYwr1HzYnvGn+PN8Q6TNxkzCdI+
n1mliri0ehqaTMdXpyt/2VuNQoi5S/Mud7Q4p97vznXXJB12rkVjrfAXmpsG+tJ5wbs7W+dwqTdv
JrwiZ3LoASqNI4mrPZWDe19iuas9m3Nv97Knn112tSd09uP8FZR7ZOFLyI8sv6ouWY6QNHWv7H0N
A/c/2D91xyy8p/LwYaRHcu6qmSojpzXHZ68mK3pczGbdMC5fNj6vNUkZBM2VnIdBa6DD9aqLJ2Jk
LpfOxbxBuKicjvm9kv+GWDdAAfGJ3HuxSxQ3sMZyo72i+8jMRztGP8VzBJRhZBvyN5/BtSKBhI5F
TizmcOkbtwzi7Q8/pYQ2qcSQgXXQHhsyfsaaMp+5LpixGG0mwaxuMjbHVDq7vxj23rUZhmtB8+DG
csGn36QKFQelvxHTdUEH0eEeWA72ov1DjXUY7xO/IduC4tvj62F0/SVyncz7N4RkeACTetneJEBt
hEVkT07Ip3HtAu59zOEa/sZGc9bu0TGNar07G0IjosBoNFodSeUsy9OwCgThKRx1WEczDVKlGMqG
YFXQ5QyFnC7M39uhAGbAf6D05LTUJDmJfx6bdIDCxMyC3C/bjQ8RYRrVyslm8jANZHOW6ZyRbMPM
ivKicShmyIQLifIoTnlS62A1GEQ2jCfPELk0v9QxqXs30Z+H1G4YBMPwe8pZcQb7FmgHM26uWPMd
9IKHNkZvqkcvQifuW/4d2jvQ7lTMXzxvqMH2We66isqPkEH/29O3f0NxUc6VFVe95U3k1tYkPW9t
oncduemrxYWrq+bdn6E3zXF+ccuy3XtWrTnsmrOJ+kv2N6H73wOfEjgiSx5WwIoaRkRrTxJJQfDj
nH6HaYkhuoNzgaTLGF8J5oAD0p+6s4EVQP3b4YW/msUMBKipnv2B/g7WKn8P8kERtEiv4SvKPdA8
9tq/S7bStRw4iGSLnCXjcEsMk3v6+qa6TAYcPHLgwITr8lMAcuQ6HFauj9xIPU0dGfOsEvn6EXwZ
rWcSHARd5H7jKAZB/jhBBo5BN/k9MlQFeHLMPYSE0XtGbgRdhA7jKCWT3HNk9Bbc74jW91DpnLNy
+Br54Q/fuHs3+oXDL2698AEMbR03lhsdO9oPWLqH3CXfJ0lbX3xxK4BblfN6Bup28ATmP77rdvQd
16fxsxjgIHleC4kF8NMYSq/M/v0fkN8j5AfbAAY/kwj+y5hnEi2jtlE7/hLPJSrI9T1lAPjLP7jo
lZmVrHr0Yv+Ya7T6wk+BsfEv8VCjWamOOMcG81FPT58j0xJEV92pohVfzbtGH3mE1iNMLabOkP45
pTNW7omVO+YmXB/TV0eu45rMlxCU/5TPVImIMRtJQ5hyrsqA/IDTyA7iOI0RSRxQSsqihW0E6E3e
rkiCBO9XPMgaFtNOZI7VWzW98xb26RoMmTpDzri866hlq8bldgqqPYZrQG3r/I5Es27p5uvuaeXd
rTfe9KahUGztbq2U99WRz8Hd8H3kQ+LMolw1zmuQdSmOPspEwO4dzZMnmoAVqZrNXR00Z3fXawda
isX7QNCT2jw3kjyd3T/QZmC56TX6T6+5YWnX4adrM1lwYMfOxdPJGVHgh+3kfGqodBo5x3NsDhei
sLfB4kdykGO5sWjM7gVfWTTtZ+7dfsiotOKOPlqtqqxNM5CGc6Ufg8o5c9D7jceNlTAsfkk68J6m
EoQtP/tANPHOX/6323dIBUY+o91orew4+weCIS+QRT5H1stC2BaTgxtGgy7mglnafeEhtXb1Hfev
KVZ/ecmjv/jFo1/+xd26NQe/sFqnBu+rQJvqfxgM665r6vgB8Lz5w3vNr5h0q9bqTd/QyPj+FzgF
f0c5SLdD7OKjeZTHhORIVxOHRUZOn9ns/b7mBcuGdm3pWrRuZrjaAKYXcnOAmFKrIy4x6YcL1+de
/uq33v7Cwl2HwjZP100Xfn1jtz26vDnVgPFh/v0W2Qs1Oe2V53IcH8nhrJCIG/9P3fOodPKXbeqA
CtJ+zWw4cOHprg3nXEM8t8NTepbQEzAFHyZ5ClFpzEWOHkx17j28txPaYeDCAXgjfu0h4/mRJ8CT
aDyywGrk1NF53Pol0HwQPClte/lr4JaPhr8GmKUDIApcSzfTH0v/TJP7AsAB7gS3kh7j0SfDAMfg
lXTtcn2/npED4CM6SLq2aZFGDgTnA36AtlsOfPT8iq0N1odbYRkEQKsaooN/WgMedMxqlD4ztZZB
9WwBHsO2OU7tgjvBSbRWUZxFAsozlIhkyKlVcmjHrsarRRo08HJFcNXVDOTwvzoKd/bWJjpikc7K
mp4FTb1tKXc0VdctdQDkTic4hy8ST4PZQG+zGXmNwRDNBPzxBLDCGX2JYqaqb3pr/7Kc1dFzLBav
M3FVsVDlabVRJ2hMpmw4741mCe88aF9qpwukV51RwkOrEqEXFfsNybORkBPWbrAYBIutzBMYiHjM
nFHQW8sET6QjQKeXaBy+/XOkf1pyoL7TtFxr9Vy3FETm968JpmS/3UvtAw8hfkSpWdjDIyEiDr60
cnHJp0IRGJq0H4xe0Vy8goMhsCXJNoQS6XKHWq/VarQqLa0F5damqJ4zslozVPNas0HDuzk0TIxW
pgRNmU6vNtAGNKg5UhrkNFgZ3g1OhpOFoA/SGpVeZVSZYDiZp1U6lR7QRjVDew/iy34VrVdb1NYx
F1mNxkdi/Qz4IvhX8gwpRjmMg4QEWTLyAh2+tTemT38nUvRt2J9+9vUI+EnnzB0zl3LkHfEiPvIJ
uBcW5F07BfIRXs2rBSy5d0nHwQrpV8Cvko6CDUu/3/39/ofgQ691yjxMjL2PPOEoko9giU+jmx4D
PnTjKukYWA8Lyo0S1ynfdxacgd9FeszJEo00GVlXEVlZAVmNQhGcGV575Ni6yMwyFc3o58xS6dVa
DZgtHQJ7wPXSwR+Wu8TQd//elE3wJHeFomjwIHyZ+B3ItgaVk8q0fBacVs6C4xNw5BEGPD5R9EE+
D03uYtzpMDH41G9dnXKm+cJvwKG1wUhL2KsZhDo7yzrXSnvk+V7E45WxBC+LQTpxCXys5JOB/n+d
/j/3TMH/T+dJ/u+df/pvP4fxvwHH3L/TAHjavVXNbhs3EJ5VbClugDRJgxQGmmCA5lQ41GoDJ7XV
ArWk/KGHCJDiQ270LiVttD8Cl7ajokD7DL0EeYS8QtFzL32JAkVfoed+5NKFkyA24gYxYfFbDoff
cPhxSERfBLsUUP33Lf3ocUDX6R+PG7QS3PD4HN0Mco9XaD343eNV+qbx1OMmrTf+8LgVXFv9zOM1
+qT5nccXaL35k8cX6WbzL48v0eetrz2+TJ+2Fh5foeut38AerKzh6wcXicUBbdOvHjfofHDV43P0
MPjS4xWKgl88XqXnwZ8eNylqvPC41dho/O3xGl1tfuXxBYqa33t8kR42X3p8iUTrvMeX6UZr6PEV
2m79TK+IqUNbaJu0ARxRiBYB7VBCJe2RAh7RkioywDl6pkdUUAyrpoX7lc6WkHB+GRpjNKUpzWCp
3JdCr9Af+Jn0ijtbW5sbHIVhxDtJuad4tKyMyit+VMSlXpRaGpUI3sky1ul0ZirWqlL6AIOEGMbU
x8r3HX9Bc7Cm6JkeICYD5hQx2tgN+Jh6mMHwWMB13Of7WhbzLC34QWlmacwjk3Bvzn2Ye/DP4EO9
MsNvhGBDuo00dbG5Acz3gGr6N8mPU9fEt+CR17SRCG93ujuD3r0uIjgKoOYH/a1BbtnPsPAJq+26
nFfwK11ujm9miJXYn7dwfYjRmWOK3fwDpw5rE9CHteaIao417ZwJRm10e95fYO4dKOkuMO0qXaVl
wfWmhyPGKYswDLuz0sRlccAdEYrNsJvLuSrNRGTpHuyic2frbvihk3AkldRJUeLfuJUTJ2gJbKVR
YkO1tI1LWuFkXSdOOkmPcQ0WsE3wHbuL0X/jEhyl2cp96vjqtZSTYC1PuwPr+wQJG7krM/QXyDKz
23Hi2N6O8TG4J27/6thMa1+iry/rSdyxGzGYX3+XPhoN/Iz23aWtMN8yHO2mcjGeds0+Xm7//65P
2qkrDmnFko2WicqlnnM5QUUyShfSQNIy4/FyoSYyVtz3ZcoqXatpivKlVcIoK2am+IkYCR6iiBWG
ZZHw+L8VH08mKdztYC6XjNL3unestJHoIWSl+dm+TqskjS1NJd4qXWeK9lTq10ltJakPuu8OdR/J
KjEI+r7U+xWwLfUG57VNbbRD14RTQv2MCFdUctiMP2uaGbPYbrcPDw+FtA+AiMu8bRDuWVZrQ0dW
A1ZPwvnnQO/maGdqKjMxM3n2vq/Ju14QQjmysk+9fHMEVr98lRMkDVSe4hjyBR6ySiXv/4rZcnfK
KzbI7Sv2L0Ov4MIAeNpt0XmUDXQYxvHPb2YYM8bYlchWlBJ3rkwmhTGWCqkopaKJO7lhru7cSVTK
WvalTYtoPzhUlkorlRa0nXZaaCEtFPIvY5rT/OM5532/73ve55znj1eaSh3dIOoECpnHmzTpMtRQ
U6ZasmSrLUcdueqqp74GGmqksSZOcrKmTtFMc6dqoaVWWmvjNKdrq50znKm9s5ytg3N01ElEXkV2
Z+fqIt95uipwvm4ucKHueuipUC9Feuujr34ucrFL9DfAQJca5DKXu8JgQ1zpKkNd7RrDXOs61xtu
hBsUhzRPmW6GNzzoNzPNN8dSKzwd0s22wzT3OeiQeR5yr3f84B+PW+lfhx3xpNU+9L41bjTSQqNs
E/OBrT6x3Uc+tk+Jz33qM8+7yd8W+coXvjTaH/4yy83ixhhnrFLLJdxivKQy5VJuNcHvbjPJRLe7
0x1e8YS7THa3Kf6036u+9pOfveBFv/jVa/bY61nf2B0y7PSd7+3yrR9DjVDToxU/W2udl7zsXett
sMVUb7vHKu9501teD7VClrmWhWxLQm2PeNiBkBPqeMZij3nOAvd7wEabbA65oW6oF+qHBqFhaJRZ
XhqPRAojVexdyWhRQSU7F1axV9FxRiN5kYw+5clEVnFJPJ6fF+1akBUrS8XHFadioyoN0Uj+f8zr
UsWC9JIR8Yoam5MojXUsKx8fS8YTyZzUhMT/S25qdDJWfcsurh6rTccAEFCtPwAAAAAB//8AAnja
HYvbDYAwDAPPoeLx07lYqhUMSxmDOuRi6RLJCKjOSU5wsLAhdpNXs3cu+81jHyZ4+ZByQ6HV//K3
mftEBzl42m1QsUoDQRB9u3d7hBBCvJgoFhIsRESCRUghFhZBUAKKWNguiiIcUZLY6n2Bn+IHaa1w
tdfHt3ODEpBj583NvHm782AA1HGEHHZ0PL5EM/PzCbYQs47FAo5gYBGx8l/NeZ/N0bud+mvsZPd3
Hv2H6c0Eg9nT4wwHZFphVxMhRhJjiQ4JmuhiE9voY6i8feWcKuuqQlOr+qanuEvFlAqfxprIxMaZ
hJ0EK1hFh6ojXPC/xVOj4js+8M28qryx0sA5XuUF69x4DwMc4ot3pWjzC1nxm5WSBZ1UsVAMneUt
noW1JlgolsQXqXcEC8WSGFGnxTfkOpfrXK5zwbM2d+oy25BtLG9smODomQkOj2WvE2Z1WPXByv6W
ym7JH/fnzg9f4DF5eNq9lktoU0EUhv/c1KZpm7Sp6SM+uio+QC34qi3iqqiIiIj1hRtBF6K4UFcu
63vjQuqDGhWKVqlWEFotVSwqim66cRMkscWFIgQhBNyO30xSWq3WNgXnY3IzN2fOnP+cuXcin6RS
rdYuea0bt+5U+OiBk8e0QEXclzHyuPh+G3lHDh0/pvCJw6cOKeruyFn0aazZGdbWw/cnRs/d76Wq
1xJYq4O6pLi69VBPsEmaYY3Q/fLzmTLdGqWXqcukdYd+l95tfuge1x7zWQ/pvXzvow/QX5jv+O4y
WayzWGexzmKdxTqDdQbrjJ6Yb1hnWKU7f9eOPD4/4uELUSZNgnEuhgRj+82HZ78qFFGTmtWi9Uoq
pVF5gQ1W05ztxctUR75k0oZZzJtxQ4H9LGhuvsUcM1u13/TnvyVmNDdGNmyLahbNfCX3M5vxIX/N
UP2p7FIwTOVm2aZeZWL1cpZc04X4MHET/1XhNNf9836Juies0Bb913rmM6QVs6OJehnZvCf+vc+n
rW/IDI3vObvur/tnenp+r8rfY2BfZQraJ+PPUYr12HkTI7X7kPsaz8wsnvJJFfm/8/7ibXjsmvM7
+dmb/Cz+wcJTg33/q1aVMFeLwael4NcKKFYjBLQSgloFpVoD5byXmxTSOgjzhm7m7dQClbyp16tK
m8HTFijSNpijHVCiNijTfojoMvjUoet47oSgbugW3m5DlXrUi4c+DTBrEEo0BBG9hIheQ0BvwdN7
qOJ8SKqaMyKlGo1AlF+WE1UFa1tttcyKoGchRDgR65nTAKVaBHXYWmurM+y0+ZyquU7VfKfKUytE
tQliTmG5tkKZ0xZy2qo50XdpnnZDpfZAjfZCQPugxCkPql0XWPci1Dn9Yac/p9xTl+6zitVfrkd6
jH+bhZDLQkjP9AKfNhdBl4ugXkGZ3kDYZSSkdzDP5cVzGSni5BylolaTn7gaqPJSqtuI2lVUs4kq
5k7ZzVRsG2raiLNdp3VGZ3VO56lUh67oqq4RbSd1iusmtbpNlA/4N9FLhP38p3hKnINE9pLqvGV1
e2aP/ARCh1/OAHjaY2BkYGDgAGIWBj4GpsyU1Pyi/Nw8BiYXN58QBr6cxJI8BhUGNgYQYGRgAqrk
YWD8H8YA0oVVFACnHQlwAAB42mNgYGBkAIKTnfmGIPrQ1JOTYTQASJMHWgAA) format('woff'), url('ITCFranklinGothicStd-DmCp.ttf')  format('truetype'), url('ITCFranklinGothicStd-DmCp.svg#ITCFranklinGothicStd-DmCp') format('svg');
  font-weight: normal;
  font-style: normal;
}


