@import "bootstrap.less";

/* =Typography
-----------------------------------------------------------------------------*/



/* =Layout
-----------------------------------------------------------------------------*/
@header-heigth: 0px;

html, body { position: relative; width: 100%; height: 100%; }

body {

  overflow-x: hidden; -webkit-overflow-scrolling: touch;

  > header, > footer { position: fixed; right: 0; left: 0; height: @header-heigth; z-index: 1; background-color: rgba(122, 122, 122, 0.5); overflow: hidden; }
  > header { top: 0;}
  > footer { bottom: 0; }

  > section {

    position: relative;
    height: 100%;
    white-space: nowrap;
    overflow-y: hidden; -webkit-overflow-scrolling: touch;

    > article {

      display: inline-block;
      vertical-align: top;
      white-space: normal;
      position: relative; width: 100%; height: 100%;

      > .in {

        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        overflow: auto;
        margin: @grid-gutter-width;
        border: @font-size-base solid red;

        > .container,
        > .container-fluid {



        }

      }

    }

  }

  > section:first-of-type > article > .in { margin: @grid-gutter-width @grid-gutter-width 0 @grid-gutter-width; border-bottom:0px transparent; }
  > section:nth-of-type(2) > article > .in { margin: 0 @grid-gutter-width @grid-gutter-width @grid-gutter-width; border-top:0px transparent; }
  > section:nth-of-type(3) > article > .in { border-color: transparent; }

}


/* =Development
-----------------------------------------------------------------------------*/
body > section > article { box-shadow: 0px 0px 0px 1px #F0F inset; }
body > section > article > .in { box-shadow: 0px 0px 0px 1px #0FF inset; }


#dev  {
  display: none;
  font-size: 10px;
  position: fixed; bottom:@grid-gutter-width; width: 100%;
  @media (max-width: @screen-xs-max)                                 { #size:after { content:"Phones"; } }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { #size:after { content:"Tablets"; } }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { #size:after { content:"Desktops"; } }
  @media (min-width: @screen-lg-min)                                 { #size:after { content:"Large Desktops"; } }
  @media (orientation: landscape)                                    { #size:before { content:"Landscape, "; } }
  @media (orientation: portrait)                                     { #size:before { content:"Portrait, ";  } }
  .row           { text-align: center; font-size: 10px; margin-bottom:0 !important; }
  .row > div     { background-color: rgba(0, 255, 255, 0.3); box-shadow: 0 0 0 1px #0FF; }
  .row > div > * { background-color: rgba(255, 255, 255, 0.7); overflow: hidden; min-height: 13px; }
}