@import "bootstrap.less";

/* =Typography
-----------------------------------------------------------------------------*/

/*
 * Work here to theme typography of common things.
 */

a { text-transform: uppercase; }
ul, ol { padding-left:0px; }
a:hover, a:active, a:focus { outline:0!important;  text-decoration:none; }
ul li {
  list-style-type: none;
}


#home, #introduction-box, #tutorial-box, #credits-box {

  /*
   * Work here to theme typography of “home” screen.
   */
  color: black!important;

  a{color: inherit;}
  span.glyphicon-volume-up {font-size: 42px;}
  p {font-weight: 100;font-stretch:normal;font-size: 12px;}

  h1 {
   font-stretch:condensed;
   .text-center;
   text-transform: uppercase;
  }

  ol { counter-reset: quiresiste; }
  nav h2:before { content: counter(quiresiste); display: block; font-size: @font-size-h1; font-stretch:normal; line-height: 42px;}
  h2 {counter-increment: quiresiste; font-size: 15px; font-stretch:condensed; }
  li:last-of-type h2:before { content:""; }
}

#qui {

  /*
   * Work here to theme typography of “Qui? Résiste” screens.
   */
  counter-reset: numeros;

  a:hover, a:active, a:focus{color:white;}

  h2:before {
    counter-increment: numeros;
    content: "N°" counter(numeros) " ";
  }

  h2 {
   font-stretch:condensed;
   .text-center;
   text-transform: uppercase;
   font-size: @font-size-h1;
  }

}

#abc {

  /*
   * Work here to theme typography of “abécédaire” screen.
   */

  .container{width:95%};
  ul, ol {padding-left:30px;}
  h2 {
   font-stretch:condensed;
   .text-center;
   text-transform: uppercase;
   font-size: @font-size-h1;
   margin-bottom: 3%;
  }
  h3{
    margin-bottom: -1em;
    &:first-of-type{margin-top:0px;
    }
  }

}



/* =Layout
-----------------------------------------------------------------------------*/
@header-heigth:      auto;
@footer-heigth:      0px;
@outer-space:        ceil((@grid-gutter-width * 6));
@outer-border-width: ceil((@outer-space * 0.5));
@outer-border-color: rgba(255, 51, 0, 0.8);

html, body { position: relative; width: 100%; height: 100%; }

/*
 * Screen grid system. You do not want to change it.
 */
body {

  overflow-x: hidden; -webkit-overflow-scrolling: touch;

  > header, > footer { position: absolute!important; right: 0; left: 0; overflow: hidden; }

  > header {
    width: 46%;
    top: 0; height: @header-heigth;
    z-index: 1;
    h1 {margin-top: ceil((@outer-space - @outer-border-width)); margin-left: ceil((@outer-space - @outer-border-width)); }
    img { display: block; width:100%; height: auto; }
  }

  > section {

    position: relative;
    height: 100%;
    white-space: nowrap;
    overflow-y: hidden; -webkit-overflow-scrolling: touch;

    > article {

      display: inline-block;
      vertical-align: top;
      white-space: normal;
      position: relative; width: 100%; height: 100%;

      > .in {

        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        overflow: auto;
        margin: @outer-space @outer-space @outer-space @outer-space;
        border: @outer-border-width solid @outer-border-color;

        @media (max-width: @screen-xs-max) {
          margin: ceil((@outer-space * 0.5));
          border-width: ceil((@outer-border-width * 0.5));
        }



      }

    }

  }

  > section:first-of-type {
    > article > .in { margin-bottom: 0; border-bottom:0px transparent; overflow: visible; }
  }

  > section:nth-of-type(2) {
    > article > .in { margin-top: 0; border-top:0px transparent; overflow: visible; }
  }

  > section:nth-of-type(3) {
    > article > .in { border: 0px transparent; margin:0;
    }
  }

  > footer { bottom: 0; height: @footer-heigth;  }
}

#home {

  /*
   * Work here to theme “home” screen.
   */

  background: url('../images/background.jpg') 0 0 no-repeat fixed;
  background-size: 100% auto;


  .tabulize a {
    display:inline-block;
    width: 30.9%;
    margin-top: 42.5%;
  }



  .container,
  .container-fluid {

    header {
      position:absolute;
      top: 77px;
      left: -13%;
      width: 58%;
    }

    nav {
      position:absolute;
      top: -15%;
      right: -10%;
      width: 55%;

      ol {
        padding: 0; margin-bottom: 0;
        list-style: none;
        li {
          margin-bottom: @grid-gutter-width;
          h2 {
            padding-left: 5px;
            padding-right: 5px;
            margin:0;
            .btn-default;
            height: 100px;
            width:110px;
          }

          &.col-sm-4:nth-child(3n+1) { clear: left; }
        }
      }

    }

  }
}

#qui {

  /*
   * Work here to theme “Qui? Résiste” screens.
   */

  #sound-play-pause { position: fixed; bottom: @grid-gutter-width; right: @grid-gutter-width; background-color: rgba(255, 51, 0, 0.8) ; z-index: 10; opacity: 0.5;
                      &:hover{opacity:1;} }

  .container,
  .container-fluid {

    header {
      position:absolute;
      top: 0;
      left: -6%;
      width: 40%;
    }

    section {
      position:absolute;
      top: 5%;
      left: 39%;
      width: 50%;
    }

    aside {

      .sounds {
        position:absolute;
        bottom: -@outer-space;
        right: -@outer-space;
        //background-color: orange;
      }

      .galleries {

        li { position:static; }
        li > a { position:absolute; }
        li > a:first-of-type { z-index: 1; }
        li > a:last-of-type { z-index: 0; }
        li > a:nth-of-type(2) img { position:relative; width: 150px; height: auto; }


        li.references  {
          a:first-of-type {
            top: 35%;
            left: 52px;
            .btn-primary;
            .btn-left-side;
          }

          a:nth-of-type(2) {
            top: 34%;
            left: -135px;
            //background: pink;
            width: 149px;
            height: auto;
            padding: 0;
            overflow: hidden;
            img {
              height: auto;
              width: 150%;
              float: right;
            }
          }

        }
        li.originaux {
          a:first-of-type {
            top: 29%;
            right: 43px;
            .btn-primary;
            .btn-right-side;
          }

          a:nth-of-type(2) {
            top: 29%;
            right: -134px;
            width: 142px;
            //background-color: purple;
            padding: 0;
            overflow: hidden;
            img {
              width: auto;
              height: 238px;
            }
          }
        }
        li.revue {
          a:first-of-type {
            bottom: 4%;
            left: 12%;
            .btn-primary;
          }
          a:nth-of-type(2) {
            bottom: -24%;
            left: 12%;
            width: auto;
            height: 152px;
            //background-color: gold;
            padding: 0;
            img {
              width: auto;
              height: 230%;
            }
          }

        }

      }
    }

  }
}

#abc {

  /*
   * Work here to theme “abécédaire” screen.
   */
   section {
      width: 100%;
      -webkit-columns: 4;
      -moz-columns: 4;
      columns: 4;
      li {
        .btn-primary;
        line-height: 1em;
        margin-bottom: 20px;
        display:inline-block;
        padding: 3px 3px 3px 3px;
      }
   }

}

.modal-content {
    box-shadow: none
  }
.modal-header {
    border-bottom: none;
  }
.modal-footer {
    border-top: none;
  }
#introduction-box{
    .modal-dialog {
      width: 77%;
    }
    .modal-body{
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2;    /* Firefox */
      column-count: 2;
    }
    h2:first-of-type{
    margin-top: -10px;
   }
}

#tutorial-box {
  .modal-dialog{width:77%;}
   img { width: 70%;}
   p { width: 28%; float:right;}
}

#credits-box{
  .modal-dialog {
    width: 30%;
  }
  img {width: 100%}
}




#qui,
#abc {
  .audio-link {
    cursor: pointer;
    &.sound-playing {
      background-color: rgba(255, 51, 0, 0.8);

      
    }
    &.sound-selected {
      //box-shadow: 0 0 0 3px white;
      //text-decoration:underline;
    }
  }
}

body.gallery,
body.abc {
  > header { display: none;}
}

body.gallery {
  /*
   * Work here to theme gallery page
   */

}

body.abc {
  /*
   * Work here to theme sound page
   */

}

.modal iframe { width: 100%; height: 600px; }

/* =Bootstrap Upgrade
-----------------------------------------------------------------------------*/
@btn-shadow-width:   ceil((@font-size-base * 0.5));
@btn-shadow-x:       @btn-shadow-width;
@btn-shadow-y:       ceil((@btn-shadow-width * 0.75));

.btn-default,
.btn-primary {
  margin-right:  ceil((@btn-shadow-width));
  margin-bottom: ceil((@btn-shadow-width));
  border-style: solid;

  .active > &,
  &:hover,
  &:active,
  &:focus {
    .translate(@btn-shadow-x,@btn-shadow-y);
    .box-shadow(0px 0px 0px 0px transparent);
  }
}

.btn-default {
  border-width: 3px;
  border-color:@btn-default-border;
  .box-shadow(@btn-shadow-x @btn-shadow-y 0px 0px @btn-default-border);
}

.btn-primary {
  border-width: 2px;
  border-color:@btn-primary-border;
  .box-shadow(@btn-shadow-x @btn-shadow-y 0px 0px @btn-primary-border);
  line-height: 0.3;

  .active > &,
  &:hover,
  &:active,
  &:focus {
    color:@btn-primary-color!important;
  }
  .btn-left-side {
    .box-shadow(@btn-shadow-x -@btn-shadow-y 0px 0px @btn-primary-border);
    .transform-origin(top left);
    .rotate(90deg);
    &:hover,
    &:active,
    &:focus {
      .transform(rotate(90deg) translate(@btn-shadow-x,-@btn-shadow-y));
      .box-shadow(0px 0px 0px 0px transparent);
    }
  }

  .btn-right-side {
    .box-shadow(-@btn-shadow-x @btn-shadow-y 0px 0px @btn-primary-border);
    .transform-origin(top right);
    .rotate(-90deg);
    &:hover,
    &:active,
    &:focus {
      .transform(rotate(-90deg) translate(-@btn-shadow-x,@btn-shadow-y));
      .box-shadow(0px 0px 0px 0px transparent);
    }
  }
}

.nav-pills {
  > li,
  > li.active {
    margin: 0 @grid-gutter-width @grid-gutter-width 0;
    > a,
    > a:hover,
    > a:focus { background-color: transparent; }
  }
}

.transform(@params) {
  -webkit-transform: @params;
      -ms-transform: @params; // IE9 only
       -o-transform: @params;
          transform: @params;
}


/* =Development
-----------------------------------------------------------------------------*/
body > section > article { box-shadow: 0px 0px 0px 1px #F0F inset; }
body > section > article > .in { box-shadow: 0px 0px 0px 1px #0FF inset; }


#dev  {
  display: none;
  font-size: 10px;
  position: fixed; bottom:@grid-gutter-width; width: 100%;
  @media (max-width: @screen-xs-max)                                 { #size:after { content:"Phones"; } }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { #size:after { content:"Tablets"; } }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { #size:after { content:"Desktops"; } }
  @media (min-width: @screen-lg-min)                                 { #size:after { content:"Large Desktops"; } }
  @media (orientation: landscape)                                    { #size:before { content:"Landscape, "; } }
  @media (orientation: portrait)                                     { #size:before { content:"Portrait, ";  } }
  .row           { text-align: center; font-size: 10px; margin-bottom:0 !important; }
  .row > div     { background-color: rgba(0, 255, 255, 0.3); box-shadow: 0 0 0 1px #0FF; }
  .row > div > * { background-color: rgba(255, 255, 255, 0.7); overflow: hidden; min-height: 13px; }
}