@import "bootstrap.less";

/* =Typography
-----------------------------------------------------------------------------*/

/*
 * Work here to theme typography of common things.
 */
a { text-transform: uppercase; }
a:hover, a:active, a:focus { outline:0!important; }

#home {

  /*
   * Work here to theme typography of “home” screen.
   */

  color: black!important;

  a { color: inherit; }

  ol { counter-reset: quiresite; }
  h2:before { content: counter(quiresite); display: block; font-size: @font-size-h1; }
  h2 { counter-increment: quiresite; font-size: @font-size-small; }

}

#qui {

  /*
   * Work here to theme typography of “Qui? Résiste” screens.
   */

}

#abc {

  /*
   * Work here to theme typography of “abécédaire” screen.
   */

}

/* =Layout
-----------------------------------------------------------------------------*/
@header-heigth:      auto;
@footer-heigth:      0px;
@outer-space:        ceil((@grid-gutter-width * 3));
@outer-border-width: ceil((@outer-space * 0.5));
@outer-border-color: rgba(255, 51, 0, 0.8);

html, body { position: relative; width: 100%; height: 100%; }

/*
 * Screen grid system. You do not want to change it.
 */
body {

  overflow-x: hidden; -webkit-overflow-scrolling: touch;

  > header, > footer { position: absolute!important; right: 0; left: 0; z-index: 1; overflow: hidden; }

  > header {
    top: 0; height: @header-heigth;
    h1 { margin-top: ceil(((@outer-space * 1.5) - @outer-border-width)); margin-left: ceil((@outer-space - @outer-border-width)); }
    img { display: block; width:100%; height: auto; }
  }

  > section {

    position: relative;
    height: 100%;
    white-space: nowrap;
    overflow-y: hidden; -webkit-overflow-scrolling: touch;

    > article {

      display: inline-block;
      vertical-align: top;
      white-space: normal;
      position: relative; width: 100%; height: 100%;

      > .in {

        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        overflow: auto;
        margin: ceil((@outer-space * 1.5)) @outer-space @outer-space @outer-space;
        border: @outer-border-width solid @outer-border-color;

        // .container,
        // .container-fluid {
        //   margin-left: -@outer-space - @outer-border-width;
        //   margin-right: -@outer-space - @outer-border-width;
        // }

        @media (max-width: @screen-xs-max) {
          margin: ceil((@outer-space * 0.5));
          border-width: ceil((@outer-border-width * 0.5));

          // .container,
          // .container-fluid {
          //   margin-left: ceil(((-@outer-space - @outer-border-width)*0.5));
          //   margin-right: ceil(((-@outer-space - @outer-border-width)*0.5));
          // }
        }



      }

    }

  }

  > section:first-of-type {
    > article > .in { margin-bottom: 0; border-bottom:0px transparent; overflow: visible; }
  }

  > section:nth-of-type(2) {
    > article > .in { margin-top: 0; border-top:0px transparent; overflow: visible; }
    // .container,
    // .container-fluid {
    //   margin-top: @outer-space;
    // }
  }

  > section:nth-of-type(3) {
    > article > .in { border: 0px transparent; margin:0;
      // .container,
      // .container-fluid {
      //   margin-left: 0;
      //   margin-right: 0;
      // }
    }
  }

  > footer { bottom: 0; height: @footer-heigth;  }
}

#home {

  /*
   * Work here to theme “home” screen.
   */

  background: url('../images/background.jpg') center no-repeat fixed;
  background-size: cover;

  .container,
  .container-fluid {

    // margin-top:-@outer-space;

    header {
      position:absolute;
      top: 0;
      left: 0;
      width: 400px;
    }

    nav {
      position:absolute;
      top: 0;
      right: 0;
      width: 400px;

      ol {
        padding: 0; margin-bottom: 0;
        list-style: none;
        li {
          h2 {
            margin:0;
            .btn-default;
          }
        }
      }

    }

  }
}

#qui {

  /*
   * Work here to theme “Qui? Résiste” screens.
   */

  .container,
  .container-fluid {

    header {
      position:absolute;
      top: 0;
      left: 0;
      width: 400px;
    }

    section {
      position:absolute;
      top: 0;
      left: 50%;
      width: 400px;
    }

    aside {
      .sounds {
        position:absolute;
        bottom: -@outer-space;
        right: -@outer-space;
        background-color: orange;
      }
      .galleries {
        li { position:absolute; }
        li:first-of-type  {
          top: 50%;
          left: -@outer-space;
          background-color: blue;
        }
        li:nth-of-type(2) {
          top: 50%;
          right: -@outer-space;
          background-color: green;
        }
        li:nth-of-type(3) {
          bottom: -@outer-space;
          right: 50%;
          background-color: pink;
        }

      }
    }

  }
}

#abc {

  /*
   * Work here to theme “abécédaire” screen.
   */

}

/* =Bootstrap Upgrade
-----------------------------------------------------------------------------*/
@btn-shadow-width:   ceil((@font-size-base * 0.5));
@btn-shadow-x:       @btn-shadow-width;
@btn-shadow-y:       ceil((@btn-shadow-width * 0.75));

.btn-default,
.btn-primary {
  margin-right:  ceil((@btn-shadow-width * 2));
  margin-bottom: ceil((@btn-shadow-width * 2));
  border:1px solid;

  .active > &,
  &:hover,
  &:active {
    .translate(@btn-shadow-x,@btn-shadow-y);
    .box-shadow(0px 0px 0px 0px transparent);
  }
}

.btn-default {
  border-color:@btn-default-border;
  .box-shadow(@btn-shadow-x @btn-shadow-y 0px 0px @btn-default-border);
}

.btn-primary {
  border-color:@btn-primary-border;
  .box-shadow(@btn-shadow-x @btn-shadow-y 0px 0px @btn-primary-border);
  .active > &,
  &:hover,
  &:active {
    color:@btn-primary-color!important;
  }
}

.nav-pills {
  > li,
  > li.active {
    > a,
    > a:hover,
    > a:focus { background-color: transparent; }
  }
}


/* =Development
-----------------------------------------------------------------------------*/
body > section > article { box-shadow: 0px 0px 0px 1px #F0F inset; }
body > section > article > .in { box-shadow: 0px 0px 0px 1px #0FF inset; }


#dev  {
  // display: none;
  font-size: 10px;
  position: fixed; bottom:@grid-gutter-width; width: 100%;
  @media (max-width: @screen-xs-max)                                 { #size:after { content:"Phones"; } }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { #size:after { content:"Tablets"; } }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { #size:after { content:"Desktops"; } }
  @media (min-width: @screen-lg-min)                                 { #size:after { content:"Large Desktops"; } }
  @media (orientation: landscape)                                    { #size:before { content:"Landscape, "; } }
  @media (orientation: portrait)                                     { #size:before { content:"Portrait, ";  } }
  .row           { text-align: center; font-size: 10px; margin-bottom:0 !important; }
  .row > div     { background-color: rgba(0, 255, 255, 0.3); box-shadow: 0 0 0 1px #0FF; }
  .row > div > * { background-color: rgba(255, 255, 255, 0.7); overflow: hidden; min-height: 13px; }
}